::-webkit-scrollbar{
    width: 5px;
    background:transparent;
}
::-webkit-scrollbar-thumb{
    background-color:#0d9488;
    border-radius: 10px;    
}
::-webkit-scrollbar-thumb:hover{
    border-radius: 30px;
    background-color: rgb(69, 201, 253);
}
::-webkit-scrollbar-track{
    background: #1a202c;
}
#thisElement{
    overflow-x: hidden;
}